{% extends 'base.html' %}

{% block content %}

<p align="center">Обновление записи {{ id }}<br>Таблица - {{name}}</p>

<form method="POST" action="../save_{{tb}}_{{id}}/">
    {% csrf_token %}
    <table>
        <tr>
            <td><p>ID</p></td>
            <td><p>{{id}}</p></td>
        </tr>
        {% if name == 'Посты' %}
            <tr>
                <td><p>{{list.1}}</p></td>
                <td><p><input class="form_uc" type="date" name="date_post" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.2}}</p></td>
                <td><p><input class="form_uc" type="number" min="0" value="{{r.n_view}}" name="n_view" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.3}}</p></td>
                <td><p><input class="form_uc" type="number" min="0" value="{{r.n_like}}" name="n_like" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.4}}</p></td>
                <td><p><input class="form_uc" type="number" min="0" value="{{r.n_comm}}" name="n_comm" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.5}}</p></td>
                <td><p>
                    {% for a in list_a %}
                        {% if a in aut %}
                            {{a}} <input class="form_cb" type="checkbox" name="au_s[]" value="{{a}}" checked>
                        {% else %}
                            {{a}} <input class="form_cb" type="checkbox" name="au_s[]" value="{{a}}">
                        {% endif %}
                        &nbsp&nbsp&nbsp
                    {% endfor %}
                </p></td>
            </tr>
            <tr>
                <td><p>{{list.6}}</p></td>
                <td><p>
                    {% for t in list_t %}
                        {% if t in top %}
                            {{t}} <input class="form_cb" type="checkbox" name="top_s[]" value="{{t}}" checked><br>
                        {% else %}
                            {{t}} <input class="form_cb" type="checkbox" name="top_s[]" value="{{t}}"><br>
                        {% endif %}
                    {% endfor %}
                </p></td>
            </tr>
        {% elif name == 'Авторы' %}
            <tr>
                <td><p>{{list.1}}</p></td>
                <td><p><input class="form_uc" type="number" min="0" value="{{r.n_post}}" name="n_post" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.2}}</p></td>
                <td><p><input class="form_uc" type="number" min="0" value="{{r.n_view}}" name="n_view" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.3}}</p></td>
                <td><p><input class="form_uc" type="number" min="0" value="{{r.n_like}}" name="n_like" required></p></td>
            </tr>
        {% elif name == 'Комментарии' %}
            <tr>
                <td><p>{{list.1}}</p></td>
                <td><p><select class="form_uc" name="id_post">
                    {% for i in list_ps %}
                        <option class="form_uc" value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select></p></td>
            </tr>
            <tr>
                <td><p>{{list.2}}</p></td>
                <td><p><select class="form_uc" name="id_user">
                    {% for i in list_us %}
                        <option class="form_uc" value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select></p></td>
            </tr>
            <tr>
                <td><p>{{list.3}}</p></td>
                <td><p><input class="form_uc" type="date" name="date" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.4}}</p></td>
                <td><p><textarea class="form_text" name="text" required>{{r.text}}</textarea></p></td>
            </tr>
            <tr>
                <td><p>{{list.5}}</p></td>
                <td><p><input class="form_uc" type="number" min="0" value="{{r.n_like}}" name="n_like" required></p></td>
            </tr>
        {% elif name == 'Пользователи' %}
            <tr>
                <td><p>{{list.1}}</p></td>
                <td><p><input class="form_uc" type="text" value="{{r.surname}}" name="surname" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.2}}</p></td>
                <td><p><input class="form_uc" type="text" value="{{r.name}}" name="name" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.3}}</p></td>
                <td><p><input class="form_uc" type="text" value="{{r.pat_name}}" name="pat_name" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.4}}</p></td>
                <td><p><input class="form_uc" type="text" value="{{r.nick}}" name="nick" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.5}}</p></td>
                <td><p><input class="form_uc" type="date" name="date_reg" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.5}}</p></td>
                <td><p><input class="form_uc" type="date" name="date_b" required></p></td>
            </tr>
        {% else %}
            <tr>
                <td><p>{{list.1}}</p></td>
                <td><p><input class="form_uc" type="text" value="{{r.name_t}}" name="name_t" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.2}}</p></td>
                <td><p><input class="form_uc" type="date" name="date_cr" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.3}}</p></td>
                <td><p><input class="form_uc" type="number" min="0" value="{{r.n_post}}" name="n_post" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.4}}</p></td>
                <td><p><input class="form_uc" type="number" min="0" value="{{r.n_view}}" name="n_view" required></p></td>
            </tr>
            <tr>
                <td><p>{{list.5}}</p></td>
                <td><p><input class="form_uc" type="number" min="0" value="{{r.n_like}}" name="n_like" required></p></td>
            </tr>
        {% endif %}
        <tr>
            <td><p><input class="but_uc" type="submit" name="save" value="Сохранить изменения"></p></td>
        </tr>
    </table>
</form>

{% endblock %}