{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link type="text/css" href="{% static 'main/css/styles.css' %}" rel="stylesheet">
</head>
<body>
<header align="center">
    <div>
        <ul>
            <li><a href="">Главная</a></li>
            <li><a href="tables.html">Таблицы</a></li>
            <li><a href="change_tab.html">Комментарии</a></li>
            <li><a href="admin/">Админ-панель</a></li>
        </ul>
    </div>
</header>
</body>
</html>